*{
	box-sizing: border-box;
}
body 
  {
  background-color: lightgrey;
    font-family: arial;
  font-size: 12px;
  }

  .container{
    width: 1170px;
    margin: auto;
    padding: 34px;
    background-color: white;
  }
.header {	
display: flex;		
}
.header img{
    width: 160px;
    height: 160px;
    border: 3px solid black;
    border-radius: 50%;
}
.headerright{
	align-self:center;
	padding-left: 30px;
    width: 100%;
}
.user_nav { 
 display: flex;
}
.user_nav a{
	padding: 20px 20px 0 0;
	border-top: 1px solid grey;
}
.intro
  {
 padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  }
  .intro a{   
    text-decoration: none;
    border: 3px solid red; 
    padding: 6px 24px;
	color: #c3f8ff;
  }
.skillov{
	display: flex;
}
.skilllist{
	display: flex;
}
.skillright{
	padding-left: 30px;
}
.skilllist a{
	padding: 10px 90px 0 0;
	border-top: 1px;
}
.edu_cla1{
	display:flex;
}
.edu_cla_head{
  display: flex;
}
.edu_cla_headleft{
	padding-left: 20px;
	border-left: 2px solid grey;
	margin-bottom: 20px;
}
.edu_cla_headleft h4,h5,h6{
	margin: 0;
}
.edu_claright{
padding-left: 30px;
}
.edu_cla_headright p{
	background-color: darkgrey;
    text-align: center;
    padding: 35px 50px;
}
.projects1{
	display: flex;
}
.projectsright{
	padding-left: 30px;
}

